/* ==========================================
   CUSTOM SCROLLBAR
========================================== */

/* Chrome, Edge, Safari */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #6366f1,
    #8b5cf6
  );
  border-radius: 999px;
  border: 2px solid #09090b;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #818cf8,
    #a78bfa
  );
}

/* Firefox */

html {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #09090b;
}